body { margin: 0; background: #f9f9f9; font: 400 16px roboto, helvetica, arial, sans-serif; color: #333; }
h1 { margin: 0; padding: 0; font-weight: normal; }
* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-tap-highlight-color: rgba(0,0,0,0); }

.container { max-width: 1200px; margin: 0 auto; }

.global-stats { padding: 9px 0; text-align: center; }

.series { width: 380px; margin-bottom: 16px; padding: 18px; background: #fff; box-shadow: 0 2px 5px rgba(0,0,0,.32); }
.series h1 { font-weight: 500; font-size: 24px; }
.series .stats { margin-bottom: 16px; }

.episode-grid { display: table; border-collapse: separate; border-spacing: 2px; font-size: 10px; line-height: 11px; }
.episode-grid .season { display: table-row; }
.episode-grid .season span { display: table-cell; height: 11px; }
.episode-grid .season .season-number { width: 14px; padding-right: 4px; text-align: right; }
.episode-grid .season .episode { width: 11px; background: #e4e4e4; }
.episode-grid .season .episode.watched { background: #8cc665; }
.episode-grid .season .episode:hover { border: 1px solid #000; }