body {
	margin: 0;
	background: #263238;
	font: 400 16px bitter, serif;
	color: #fff;
}

h1 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

////////////////////////////////////////////////////////////////////////////////////////////////////

$global-stats-width: 300px;
$two-column-min-width: 770px;

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 16px;
	position: relative;

	@media (min-width: $two-column-min-width) {
		padding: 0;
	}
}

.global-stats {
	padding-bottom: 44px;
	font-size: 32px;
	color: rgba(#fff, 0.666);
	line-height: 1.32;

	@media (min-width: $two-column-min-width) {
		position: fixed;
		top: 0;
		padding-top: 20vh;
	}
}

.series-list {

	@media (min-width: $two-column-min-width) {
		$vertical-padding: 5vh;
		padding: $vertical-padding 0 $vertical-padding $global-stats-width;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////

.series {
	padding-bottom: 32px;

	+ .series {
		border-top: 3px solid rgba(#000, 0.2);
		padding-top: 32px;
	}

	@media (min-width: $two-column-min-width) {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.series-title {
	padding-bottom: 2px;
	font-size: 24px;
}

.series-stats {
	padding-bottom: 16px;
	font-size: 16px;
	color: rgba(#fff, 0.75);
}

.episode-grid {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	font-size: 10px;
	line-height: 11px;
}

.episode-grid .season {
	display: table-row;
}

.episode-grid .season span {
	display: table-cell;
	height: 11px;
}

.episode-grid .season .season-number {
	width: 14px;
	padding-right: 4px;
	text-align: right;
}

.episode {
	width: 11px;
	background-color: rgba(#888, 0.25);

	&.watched {
		background: #4caf50;
	}

	&:hover {
		border: 1px solid #000;
	}
}
